<%- include("partials/header") %>
    <!-- Form Page -->

    <div class="container content">

        <h1> تعبئة البيانات</h1>

        <form action="/form" method="POST">
            <div class="form-group">
                <label for="salary">الدخل الشهري</label>
                <input type="text" name="salary" placeholder="الدخل">
            </div>

            <div class="form-group" style="margin-top: 2rem;">
                <label for="savings">المدخرات الشهرية</label>
                <input type="text" name="savings" placeholder="المدخرات">
            </div>

            <div class="form-group" style="margin-top: 2rem;">
                <label for="savings">المصروفات الشهرية</label>
                <input type="text" name="savings" placeholder="المصروفات">
            </div>

            <div class="form-group" style="margin-top: 2rem;">
                <label for="savings">المصروفات الشهرية</label>
                <input type="text" name="savings" placeholder="المصروفات">
            </div>

        </form>



        <div class="stylish-button" style="margin-top: 15rem;">
            <a href="/results">النتيجة</a>
        </div>


        <p>معلوماتك لا تستخدم بأي شكل من الأشكال</p>

    </div>



    <%- include("partials/footer") %>