<%- include("partials/header") %>
    <!-- Landing page -->

    <div class="container content">
        <h1>أهلا بك في المحلل المالي</h1>

        <p>
            الهدف من هذه المبادرة مفتوحة المصدر هو مساعدة الأشخاص في تنظيم أمورهم المالية الشخصية بشكل مبسط.
        </p>

        <p>
            المالية الشخصية تـعرف على أنها المالية القائمة على
        </p>

        <div>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/q_k8fVNzbGU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>


        <div class="form-group">
            <a href="/form" class="btn btn-primary btn-md active" role="button" aria-pressed="true">قم بتعبئة النموذج</a>
        </div>


        <p style="margin-top: 1rem;">نساعدك للأفضل دائما</p>


    </div>

    <%- include("partials/footer") %>