<%- include("partials/header") %>
    <!-- Landing page -->

    <div class="container content">
        <h1>أهلا بك في المحلل المالي</h1>

        <p>
            الهدف من هذه المبادرة مفتوحة المصدر هو مساعدة الأشخاص في التخطيط لأمورهم المالية الشخصية بشكل مبسط.
        </p>

        <p>
            هذا المشروع يهدف إلى أن يكون منظومة متكاملة تدعم الوعي المالي عن طريق التقنية أو ما يسمى بالفنتك.
        </p>

        <div class="container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/h-EW_eM8CB4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> </div>

        <p></p>
        <div class="container">
            <a href="/form" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">قم بتعبئة النموذج</a>
        </div>


        <p style="margin-top: 1rem;">نساعدك للأفضل دائما و لكن اتجه للجهات الموثوقة لإتخاذ قرارات أكثر فعالية</p>


    </div>

    <%- include("partials/footer") %>