<%- include("partials/header") %>
    <!-- Landing page -->

    <div class="container content">
        <h1>المحلل المالي</h1>

        <p>
            الهدف من هذه المبادرة مفتوحة المصدر هو مساعدة الأشخاص في تنظيم أمورهم المالية الشخصية بشكل مبسط.
        </p>

        <p>
            المالية الشخصية تـعرف على أنها المالية القائمة على
        </p>


        <div class="stylish-button">
            <a href="/form">قم بتعبئة النموذج</a>
        </div>

        <p>نساعدك للأفضل دائما</p>

    </div>

    <%- include("partials/footer") %>