<%- include("partials/header") %>
    <!-- Login page -->

    <div class="container content">
        <h1>تسجيل الدخول</h1>


        <div class="container" style="margin-top: 3rem;">
            <div class="stylish-button">
                <a href="/form">قم بتعبئة النموذج</a>
            </div>
        </div>


    </div>

    <%- include("partials/footer") %>