<%- include("partials/header") %>
    <!-- Register page -->

    <div class="container content">
        <h1>التسجيل</h1>

        <form action="/register" method="POST">
            <div class="form-group">
                <input type="text" name="username" placeholder="اسم المستخدم" required>
            </div>
            <div class="form-group">
                <input type="password" name="password" placeholder="كلمة السر" required>
            </div>
            <div class="form-group">
                <button class="btn btn-primary btn-md">سجل</button>
            </div>
        </form>

        <a href="/">ارجع للوراء</a>

        </form>


    </div>

    <%- include("partials/footer") %>