<%- include("partials/header") %>
    <!-- results page -->
    <div class="container content">

        <h1>النتائج</h1>


        <div class="stylish-button">
            <a href="/">للرجوع</a>
        </div>


        <h4>شكرا لإستعمالك خدماتنا</h4>

    </div>



    <%- include("partials/footer") %>