<%- include("partials/header") %>
    <!-- results page -->
    <div class="container content">

        <h1>النتائج</h1>

        <p style="margin-bottom: 15.5rem;">
            نتيجتك تدل على أنك مستثمر

        </p>


        <h3>نصائح عامة</h3>
        <p>
            النصائح التالية دائما مفيدة، احرص على اتباعها:
            <ul>
                أولا: قم بالإدخار بشكل مستمر مهما بلغ المبلغ
            </ul>


        </p>




        <div class="form-group">
            <a href="/" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">للرجوع</a>
        </div>
        <p></p>

        <h4>شكرا لإستعمالك خدماتنا</h4>

    </div>



    <%- include("partials/footer") %>