<%- include("partials/header") %>
    <!-- results page -->
    <div class="container content">

        <h1>النتائج</h1>

        <p>
            النصائح التالية دائما مفيدة، احرص على اتباعها:
            <ul>
                أولا: قم بالإدخار بشكل مستمر مهما بلغ المبلغ
            </ul>
            <ul>
                ثانيا:
            </ul>

        </p>

        <p style="margin-top: 15.5rem;">
            نتيجتك تدل على أنك مستثمر:
            <!-- <%  %> -->

        </p>


        <%= User.username %>

            <div class="stylish-button">
                <a href="/">للرجوع</a>
            </div>


            <h4>شكرا لإستعمالك خدماتنا</h4>

    </div>



    <%- include("partials/footer") %>