<%- include("partials/header") %>
    <!-- SignUp page -->

    <div class="container content">
        <h1>التسجيل</h1>


        <form action="/form" method="POST">
            <div class="form-group">
                <label for="salary">الإيميل</label>
                <input type="text" name="salary" placeholder="الدخل">
            </div>

            <div class="form-group" style="margin-top: 2rem;">
                <label for="savings">تأكيد الإيميل</label>
                <input type="text" name="savings" placeholder="المدخرات">
            </div>

            <div class="form-group" style="margin-top: 2rem;">
                <label for="savings">كلمة السر</label>
                <input type="text" name="savings" placeholder="المصروفات">
            </div>

            <div class="form-group" style="margin-top: 2rem;">
                <label for="savings">تأكيد كلمة السر</label>
                <input type="text" name="savings" placeholder="المصروفات">
            </div>

        </form>






        <div class="stylish-button" style="margin-top: 15rem;">
            <a href="/results">النتيجة</a>
        </div>


    </div>

    <%- include("partials/footer") %>