</body>
<footer>

    <div class="col-md-12">

        <div class="mb-5 flex-center">

            <!-- Twitter -->
            <span class="tw-ic" href="twitter.com">
                <i class="fab fa-twitter fa-lg white-text mr-4">  </i>
            </span>

            <!--Linkedin -->
            <a class="li-ic">
                <i class="fab fa-linkedin-in fa-lg white-text mr-4">  </i>
            </a>

            <!--Instagram-->
            <a class="ins-ic">
                <i class="fab fa-instagram fa-lg white-text mr-4">  </i>
            </a>

        </div>

    </div>
    <!-- Grid column -->


    <p class="footer-info">
        حقوق النشر محفوظة لعبدالله نجار © 2020
    </p>



</footer>

</html>