<html dir="rtl" lang="ar">

<head>

    <!-- fonts  -->

    <!--font -->
    <link rel="stylesheet" type="text/css" href="https://www.fontstatic.com/f=zahra-bold" />
    <!-- main -->
    <link rel="stylesheet" href="/stylesheets/main.css">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>المحلل المالي</title>

</head>

<body>