<html dir="rtl" lang="ar">

<head>

    <!-- Bootstrap -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <!-- fontawesome kit  -->
    <script src="https://kit.fontawesome.com/3b573609be.js" crossorigin="anonymous"></script>
    <!--font -->
    <link rel="stylesheet" type="text/css" href="https://www.fontstatic.com/f=zahra-bold" />
    <!-- main -->
    <link rel="stylesheet" href="/stylesheets/main.css">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>المحلل المالي</title>

</head>

<body>

    <!-- NAV BAR -->

    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
        <a class="navbar-brand" href="/">المحلل المالي</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li><a href="/" class="nav-link">الرئيسية</a></li>
            </ul>
            <ul class="navbar-nav">

                <li><a href="/login" class="nav-link">الدخول</a></li>
                <li><a href="/register" class="nav-link">التسجيل</a></li>

                <li class="nav-item"><a href="/logout" class="nav-link">الخروج</a></li>

            </ul>
        </div>
    </nav>