body {
    background: #75d288;
    font-family: 'zahra-bold';
}

.content {
    max-width: 1240px;
    margin: auto;
    border-radius: 16px;
    box-shadow: -4px 4px 8px #4c8958, 4px -4px 8px #9effb8;
}