<%- include("partials/header") %>
    <!-- Landing page -->

    <div class="container content">
        <h1>أهلا بك في المحلل المالي</h1>

        <p>
            The goal of this project is to provide the user a clear understanding of his finanical situation.
        </p>

        <a href="/form">قم بتعبئة النموذج</a>

    </div>




    <%- include("partials/footer") %>