<%- include("partials/header") %>
    <!-- results page -->
    <div class="container content">

        <h1>أهلا بك في صفحة النتائج</h1>




        <h4>شكرا لإستعمالك خدماتنا</h4>

    </div>



    <%- include("partials/footer") %>